<!DOCTYPE html>
<html>
<head>
    <title>Blogisovellus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
        <h1>Blogisovellus</h1>
    </div>

    <!-- Show this if logged in-->
    {% if session.username %}
    <div class="logging-container">
        <ul>
            <li>Logged in [ <strong>{{session.username}}</strong> ]</li>
            <li><a href="/log_out">Log out</a></li>
            <li><a href="/new_blog">Create a new blog</a></li>
        </ul>
    </div>
    <br>
    {% for blog in blogs %}
    <div class="blog-box">
        <p class="content">{{ blog.content }}</p>
        <ul class="info">
            <li><p>Created Time: {{ blog.created_at.strftime("%Y-%m-%d") }}</p></li>
            <li><p>Likes: {{ blog.likes }}</p></li>
        </ul>
        <ul class="button">
            <li>
                <form action="/like" method="POST">
                    <input type="submit" value="like"/> 
                    <input type="hidden" value="{{ session.user_id }}" name="user_id"/>
                    <input type="hidden" value="{{blog.id}}" name="blog_id"/> 
                </form>
            </li>
            {% if session.user_id == blog.user_id %}
            <li>
                <form action="/edit" method="POST">
                    <input type="submit" value="edit" name="name"/>
                    <input type="hidden" value="{{ blog.id }}" name="blog_id"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> 
                </form>
            </li>
            <li>
                <form action="/remove" method="POST">
                    <input type="submit" value="remove" name="remove"/>
                    <input type="hidden" value="{{ blog.id }}" name="blog_id"/>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> 
                </form>
            </li>
        </ul>
        {% endif %}
    </div>
    {% endfor %}

    <!-- Show this if not logged in-->
    {% else %}
    <div class="logging-container">
        <ul>
            <li>
                <a href="/login">Sign in</a>
            </li>
        </ul>
    </div>
    <br>
    <hr>
    {% for blog in blogs %}
    <p class="content">{{ blog.content }}</p>
    <hr>
    {% endfor %}
    {% endif %}
</body>
</html>